<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos Especializados</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        main{

            height: 600px;
        }
    </style>
</head>
<body>
    <main>
        <h1 id="previsoesh1">Aqui está a previsão dos dados selecionados :</h1>
        <div id="main2">
            <p>O aluno para quais os dados foi selecionado recebeu uma previsão de que {{prev}} o curso!</p>
            <p id="randomforest">
                Random Forest é um algoritmo de Machine Learning comumente usado, registrado por Leo Breiman e Adele Cutler, que combina a saída de múltiplas árvores de decisão para chegar a um único resultado. Sua facilidade de uso e flexibilidade impulsionaram sua adoção, pois lida com problemas de classificação e regressão.</p>
            <img src="../static/midia/tree.jpg" alt="arvore" id="imagemarvore">
        </div>
    </main>
</body>
</html>